@media (min-width: 992px) {
  body div.footer-area {
    background-color: #626e45;
    padding: 0 0 20px 0;
    width: 100%;
  }
  body div.footer-area div.footer-img {
    background-image: url(../public/image/footer_shape.png);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: 54% center;
    background-repeat: no-repeat;
  }
  /* 上方資料 */
  body div.footer-area div.data-top {
    padding: 0 30px 0 30px;
    width: 100%;
  }
  body div.footer-area div.data-top div.footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* logo */
  body div.footer-area div.data-top div.footer-menu div.logo {
    width: 15%;
    height: 100%;
    padding: 0 10px 0 15px;
  }
  body div.footer-area div.data-top div.footer-menu div.logo a img {
    width: 85%;
    filter: grayscale(1) brightness(100);
  }
  /* 頁尾導覽列 */
  body div.footer-area div.data-top div.footer-menu nav {
    width: 80%;
  }
  body div.footer-area div.data-top div.footer-menu nav ul {
    display: flex;
    padding: 0 30px 0 30px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li {
    list-style-type: none;
    margin: 18px;
    text-align: center;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.b {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 5px;
  }
  /* 中間資料 */
  body div.footer-area div.data-mid {
    width: 100%;
    padding: 30px 30px 0 30px;
    display: flex;
  }
  body div.footer-area div.data-mid div.mid-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* 中間資料-左 */
  body div.footer-area div.data-mid div.mid-area div.leftbox {
    width: 55%;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li {
    padding: 10px 10px 10px 10px;
    width: 50%;
    margin-bottom: 0;
    list-style-type: none;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.leftbox
    ul
    li
    div.infotitle {
    width: 36%;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
    text-decoration: none;
  }
  /* 中間資料-右 */
  body div.footer-area div.data-mid div.mid-area div.rightbox {
    width: 45%;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.rightbox
    div.rightbox-title {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 16px 75px;
    margin-bottom: 2px;
    text-align: left;
    font-size: 15px;
  }
  body div.footer-area div.data-mid div.mid-area div.rightbox div.databox {
    width: 80%;
    height: 20px;
    background-color: #ffffff;
  }
  /* 下方資料 */
  body div.footer-area div.data-bottom {
    width: 100%;
    padding: 30px 30px 55px 30px;
    display: flex;
  }
  /* 下方資料-左 */
  body div.footer-area div.data-bottom div.leftbox {
    width: 65%;
    display: flex;
    align-items: center;
  }
  body div.footer-area div.data-bottom div.leftbox span {
    color: #e0e2da;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Maven Pro", Graduate, Noto Sans TC, Microsoft JhengHei,
      sans-serif;
    letter-spacing: 1.4px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink {
    margin-left: 15px;
    font-size: 10px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink a {
    text-decoration: none;
    color: #e0e2da;
    font-size: 10px;
  }
  /* 下方資料-右 */
  body div.footer-area div.data-bottom div.rightbox {
    width: 35%;
    display: flex;
    align-items: center;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox {
    color: #e0e2da;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox span {
    font-size: 10px;
  }
  body div.footer-area div.data-bottom div.rightbox div.socialTitle {
    color: #e0e2da;
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  body div.footer-area {
    background-color: #626e45;
    padding: 0 0 20px 0;
    width: 100%;
  }
  body div.footer-area div.footer-img {
    background-image: url(../public/image/footer_shape.png);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: 54% center;
    background-repeat: no-repeat;
  }
  /* 上方資料 */
  body div.footer-area div.data-top {
    padding: 0 30px 0 30px;
    width: 100%;
  }
  body div.footer-area div.data-top div.footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* logo */
  body div.footer-area div.data-top div.footer-menu div.logo {
    width: 15%;
    height: 100%;
    padding: 0 10px 0 15px;
  }
  body div.footer-area div.data-top div.footer-menu div.logo a img {
    width: 85%;
    filter: grayscale(1) brightness(100);
  }
  /* 頁尾導覽列 */
  body div.footer-area div.data-top div.footer-menu nav {
    width: 70%;
  }
  body div.footer-area div.data-top div.footer-menu nav ul {
    display: flex;
    padding: 0 30px 0 30px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li {
    list-style-type: none;
    margin: 18px;
    text-align: center;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.b {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 5px;
  }
  /* 中間資料 */
  body div.footer-area div.data-mid {
    width: 100%;
    padding: 30px 30px 0 30px;
    display: flex;
  }
  body div.footer-area div.data-mid div.mid-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* 中間資料-左 */
  body div.footer-area div.data-mid div.mid-area div.leftbox {
    width: 55%;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li {
    padding: 10px 10px 10px 10px;
    width: 50%;
    margin-bottom: 0;
    list-style-type: none;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.leftbox
    ul
    li
    div.infotitle {
    width: 36%;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
    text-decoration: none;
  }
  /* 中間資料-右 */
  body div.footer-area div.data-mid div.mid-area div.rightbox {
    width: 45%;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.rightbox
    div.rightbox-title {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 16px 75px;
    margin-bottom: 2px;
    text-align: left;
    font-size: 20px;
  }
  body div.footer-area div.data-mid div.mid-area div.rightbox div.databox {
    width: 80%;
    height: 20px;
    background-color: #ffffff;
  }
  /* 下方資料 */
  body div.footer-area div.data-bottom {
    width: 100%;
    padding: 30px 30px 55px 30px;
    display: flex;
  }
  /* 下方資料-左 */
  body div.footer-area div.data-bottom div.leftbox {
    width: 65%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.leftbox span {
    color: #e0e2da;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Maven Pro", Graduate, Noto Sans TC, Microsoft JhengHei,
      sans-serif;
    letter-spacing: 1.4px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink {
    margin-left: 15px;
    font-size: 10px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink a {
    text-decoration: none;
    color: #e0e2da;
    font-size: 10px;
  }
  /* 下方資料-右 */
  body div.footer-area div.data-bottom div.rightbox {
    width: 35%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox {
    color: #e0e2da;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox span {
    font-size: 10px;
  }
  body div.footer-area div.data-bottom div.rightbox div.socialTitle {
    color: #e0e2da;
    font-size: 10px;
  }
}
@media (min-width: 1400px) {
  body div.footer-area {
    background-color: #626e45;
    padding: 0 0 20px 0;
    width: 100%;
  }
  body div.footer-area div.footer-img {
    background-image: url(../public/image/footer_shape.png);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: 54% center;
    background-repeat: no-repeat;
  }
  /* 上方資料 */
  body div.footer-area div.data-top {
    padding: 0 30px 0 30px;
    width: 100%;
  }
  body div.footer-area div.data-top div.footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* logo */
  body div.footer-area div.data-top div.footer-menu div.logo {
    width: 15%;
    height: 100%;
    padding: 0 10px 0 15px;
  }
  body div.footer-area div.data-top div.footer-menu div.logo a img {
    width: 85%;
    filter: grayscale(1) brightness(100);
  }
  /* 頁尾導覽列 */
  body div.footer-area div.data-top div.footer-menu nav {
    width: 70%;
  }
  body div.footer-area div.data-top div.footer-menu nav ul {
    display: flex;
    padding: 0 30px 0 30px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li {
    list-style-type: none;
    margin: 1rem;
    text-align: center;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.b {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 5px;
  }
  /* 中間資料 */
  body div.footer-area div.data-mid {
    width: 100%;
    padding: 30px 30px 0 30px;
    display: flex;
  }
  body div.footer-area div.data-mid div.mid-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* 中間資料-左 */
  body div.footer-area div.data-mid div.mid-area div.leftbox {
    width: 55%;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li {
    padding: 10px 10px 10px 10px;
    width: 50%;
    margin-bottom: 0;
    list-style-type: none;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.leftbox
    ul
    li
    div.infotitle {
    width: 36%;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
    text-decoration: none;
  }
  /* 中間資料-右 */
  body div.footer-area div.data-mid div.mid-area div.rightbox {
    width: 45%;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.rightbox
    div.rightbox-title {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 16px 75px;
    margin-bottom: 2px;
    text-align: left;
    font-size: 25px;
  }
  body div.footer-area div.data-mid div.mid-area div.rightbox div.databox {
    width: 80%;
    height: 20px;
    background-color: #ffffff;
  }
  /* 下方資料 */
  body div.footer-area div.data-bottom {
    width: 100%;
    padding: 30px 30px 55px 30px;
    display: flex;
  }
  /* 下方資料-左 */
  body div.footer-area div.data-bottom div.leftbox {
    width: 65%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.leftbox span {
    color: #e0e2da;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Maven Pro", Graduate, Noto Sans TC, Microsoft JhengHei,
      sans-serif;
    letter-spacing: 1.4px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink {
    margin-left: 15px;
    font-size: 15px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink a {
    text-decoration: none;
    color: #e0e2da;
    font-size: 15px;
  }
  /* 下方資料-右 */
  body div.footer-area div.data-bottom div.rightbox {
    width: 35%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox {
    color: #e0e2da;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox span {
    font-size: 15px;
  }
  body div.footer-area div.data-bottom div.rightbox div.socialTitle {
    color: #e0e2da;
    font-size: 15px;
  }
}
@media (min-width: 1700px) {
  body div.footer-area {
    background-color: #626e45;
    padding: 0 0 20px 0;
    width: 100%;
  }
  body div.footer-area div.footer-img {
    background-image: url(../public/image/footer_shape.png);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: 54% center;
    background-repeat: no-repeat;
  }
  /* 上方資料 */
  body div.footer-area div.data-top {
    padding: 0 30px 0 30px;
    width: 100%;
  }
  body div.footer-area div.data-top div.footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* logo */
  body div.footer-area div.data-top div.footer-menu div.logo {
    width: 15%;
    height: 100%;
    padding: 0 10px 0 15px;
  }
  body div.footer-area div.data-top div.footer-menu div.logo a img {
    width: 85%;
    filter: grayscale(1) brightness(100);
  }
  /* 頁尾導覽列 */
  body div.footer-area div.data-top div.footer-menu nav {
    width: 70%;
  }
  body div.footer-area div.data-top div.footer-menu nav ul {
    display: flex;
    padding: 0 30px 0 30px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li {
    list-style-type: none;
    margin: 1rem;
    text-align: center;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.b {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 5px;
  }
  /* 中間資料 */
  body div.footer-area div.data-mid {
    width: 100%;
    padding: 30px 30px 0 30px;
    display: flex;
  }
  body div.footer-area div.data-mid div.mid-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* 中間資料-左 */
  body div.footer-area div.data-mid div.mid-area div.leftbox {
    width: 55%;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li {
    padding: 10px 10px 10px 10px;
    width: 47%;
    margin-bottom: 0;
    list-style-type: none;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.leftbox
    ul
    li
    div.infotitle {
    width: 35%;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
    text-decoration: none;
  }
  /* 中間資料-右 */
  body div.footer-area div.data-mid div.mid-area div.rightbox {
    width: 45%;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.rightbox
    div.rightbox-title {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 16px 75px;
    margin-bottom: 2px;
    text-align: left;
    font-size: 30px;
  }
  body div.footer-area div.data-mid div.mid-area div.rightbox div.databox {
    width: 80%;
    height: 20px;
    background-color: #ffffff;
  }
  /* 下方資料 */
  body div.footer-area div.data-bottom {
    width: 100%;
    padding: 30px 30px 55px 30px;
    display: flex;
  }
  /* 下方資料-左 */
  body div.footer-area div.data-bottom div.leftbox {
    width: 65%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.leftbox span {
    color: #e0e2da;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Maven Pro", Graduate, Noto Sans TC, Microsoft JhengHei,
      sans-serif;
    letter-spacing: 1.4px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink {
    margin-left: 15px;
    font-size: 20px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink a {
    text-decoration: none;
    color: #e0e2da;
    font-size: 20px;
  }
  /* 下方資料-右 */
  body div.footer-area div.data-bottom div.rightbox {
    width: 35%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox {
    color: #e0e2da;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox span {
    font-size: 20px;
  }
  body div.footer-area div.data-bottom div.rightbox div.socialTitle {
    color: #e0e2da;
    font-size: 20px;
  }
}
@media (min-width: 2000px) {
  body div.footer-area {
    background-color: #626e45;
    padding: 0 0 20px 0;
    width: 100%;
  }
  body div.footer-area div.footer-img {
    background-image: url(../public/image/footer_shape.png);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: 54% center;
    background-repeat: no-repeat;
  }
  /* 上方資料 */
  body div.footer-area div.data-top {
    padding: 0 30px 0 30px;
    width: 100%;
  }
  body div.footer-area div.data-top div.footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* logo */
  body div.footer-area div.data-top div.footer-menu div.logo {
    width: 15%;
    height: 100%;
    padding: 0 10px 0 15px;
  }
  body div.footer-area div.data-top div.footer-menu div.logo a img {
    width: 85%;
    filter: grayscale(1) brightness(100);
  }
  /* 頁尾導覽列 */
  body div.footer-area div.data-top div.footer-menu nav {
    width: 70%;
  }
  body div.footer-area div.data-top div.footer-menu nav ul {
    display: flex;
    padding: 0 30px 0 30px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li {
    list-style-type: none;
    margin: 1rem;
    text-align: center;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  body div.footer-area div.data-top div.footer-menu nav ul li a span.b {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 5px;
  }
  /* 中間資料 */
  body div.footer-area div.data-mid {
    width: 100%;
    padding: 30px 30px 0 30px;
    display: flex;
  }
  body div.footer-area div.data-mid div.mid-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white;
    padding-bottom: 20px;
  }
  /* 中間資料-左 */
  body div.footer-area div.data-mid div.mid-area div.leftbox {
    width: 55%;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li {
    padding: 10px 10px 10px 10px;
    width: 42%;
    margin-bottom: 0;
    list-style-type: none;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.leftbox
    ul
    li
    div.infotitle {
    width: 32%;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 35px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
  }
  body div.footer-area div.data-mid div.mid-area div.leftbox ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: 400;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    letter-spacing: 1.6px;
    position: relative;
    text-decoration: none;
  }
  /* 中間資料-右 */
  body div.footer-area div.data-mid div.mid-area div.rightbox {
    width: 45%;
  }
  body
    div.footer-area
    div.data-mid
    div.mid-area
    div.rightbox
    div.rightbox-title {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 16px 75px;
    margin-bottom: 2px;
    text-align: left;
    font-size: 35px;
  }
  body div.footer-area div.data-mid div.mid-area div.rightbox div.databox {
    width: 80%;
    height: 20px;
    background-color: #ffffff;
  }
  /* 下方資料 */
  body div.footer-area div.data-bottom {
    width: 100%;
    padding: 30px 30px 55px 30px;
    display: flex;
  }
  /* 下方資料-左 */
  body div.footer-area div.data-bottom div.leftbox {
    width: 65%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.leftbox span {
    color: #e0e2da;
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Maven Pro", Graduate, Noto Sans TC, Microsoft JhengHei,
      sans-serif;
    letter-spacing: 1.4px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink {
    margin-left: 15px;
    font-size: 25px;
  }
  body div.footer-area div.data-bottom div.leftbox div.ibestLink a {
    text-decoration: none;
    color: #e0e2da;
    font-size: 25px;
  }
  /* 下方資料-右 */
  body div.footer-area div.data-bottom div.rightbox {
    width: 35%;
    display: flex;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox {
    color: #e0e2da;
  }
  body div.footer-area div.data-bottom div.rightbox div.vtBox span {
    font-size: 25px;
  }
  body div.footer-area div.data-bottom div.rightbox div.socialTitle {
    color: #e0e2da;
    font-size: 25px;
  }
}
